USE [Z_MyBase]
GO
/****** Object:  Table [dbo].[Виды_кредита]    Script Date: 26.02.2026 11:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Виды_кредита](
	[ID_Вида] [int] IDENTITY(1,1) NOT NULL,
	[Название_вида] [nvarchar](100) NOT NULL,
	[Ставка] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Вида] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Выдача_кредитов]    Script Date: 26.02.2026 11:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Выдача_кредитов](
	[ID_Выдачи] [int] IDENTITY(1,1) NOT NULL,
	[ID_Вида] [int] NOT NULL,
	[ID_Клиента] [int] NOT NULL,
	[Сумма] [money] NOT NULL,
	[Дата_выдачи] [date] NOT NULL,
	[Дата_возврата] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Выдачи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 26.02.2026 11:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[ID_Клиента] [int] IDENTITY(1,1) NOT NULL,
	[Название_фирмы] [nvarchar](150) NOT NULL,
	[Вид_собственности] [nvarchar](50) NULL,
	[Адрес] [nvarchar](255) NULL,
	[Телефон] [varchar](20) NULL,
	[Контактное_лицо] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Виды_кредита] ON 

INSERT [dbo].[Виды_кредита] ([ID_Вида], [Название_вида], [Ставка]) VALUES (1, N'Малый бизнес', CAST(14.00 AS Decimal(5, 2)))
INSERT [dbo].[Виды_кредита] ([ID_Вида], [Название_вида], [Ставка]) VALUES (2, N'Ипотека юрлиц', CAST(11.50 AS Decimal(5, 2)))
INSERT [dbo].[Виды_кредита] ([ID_Вида], [Название_вида], [Ставка]) VALUES (3, N'Кредитная линия', CAST(16.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Виды_кредита] OFF
GO
SET IDENTITY_INSERT [dbo].[Выдача_кредитов] ON 

INSERT [dbo].[Выдача_кредитов] ([ID_Выдачи], [ID_Вида], [ID_Клиента], [Сумма], [Дата_выдачи], [Дата_возврата]) VALUES (1, 1, 1, 3000000.0000, CAST(N'2024-05-01' AS Date), CAST(N'2025-05-01' AS Date))
INSERT [dbo].[Выдача_кредитов] ([ID_Выдачи], [ID_Вида], [ID_Клиента], [Сумма], [Дата_выдачи], [Дата_возврата]) VALUES (2, 2, 2, 10000000.0000, CAST(N'2024-06-10' AS Date), CAST(N'2030-06-10' AS Date))
SET IDENTITY_INSERT [dbo].[Выдача_кредитов] OFF
GO
SET IDENTITY_INSERT [dbo].[Клиенты] ON 

INSERT [dbo].[Клиенты] ([ID_Клиента], [Название_фирмы], [Вид_собственности], [Адрес], [Телефон], [Контактное_лицо]) VALUES (1, N'ООО Вектор', N'Частная', N'ул. Мира, 1', N'89991234567', N'Иванов А.В.')
INSERT [dbo].[Клиенты] ([ID_Клиента], [Название_фирмы], [Вид_собственности], [Адрес], [Телефон], [Контактное_лицо]) VALUES (2, N'АО Флагман', N'Акционерная', N'пр. Ленина, 45', N'89997654321', N'Смирнова Е.Н.')
SET IDENTITY_INSERT [dbo].[Клиенты] OFF
GO
ALTER TABLE [dbo].[Выдача_кредитов]  WITH CHECK ADD  CONSTRAINT [FK_ВидКредита] FOREIGN KEY([ID_Вида])
REFERENCES [dbo].[Виды_кредита] ([ID_Вида])
GO
ALTER TABLE [dbo].[Выдача_кредитов] CHECK CONSTRAINT [FK_ВидКредита]
GO
ALTER TABLE [dbo].[Выдача_кредитов]  WITH CHECK ADD  CONSTRAINT [FK_Клиент] FOREIGN KEY([ID_Клиента])
REFERENCES [dbo].[Клиенты] ([ID_Клиента])
GO
ALTER TABLE [dbo].[Выдача_кредитов] CHECK CONSTRAINT [FK_Клиент]
GO
